<html>
    <head>
        <title>test page</title>
    </head>
    <body>
        "fuck this shit"
        <% if (false) { %>
          <h2> true</h2>
        <% }else{ %>

          <h2> false</h2>
        <% } %>
    </body>
</html>

