<!DOCTYPE html>
<html lang="en">
  <head>
    <title>index</title>
  </head>
  <body>
    <header>
      <% include ./partials/common/header %>
    </header>

    <main>
        <% include ./partials/auth/_signin %>
    </main>

    <footer>
      <% include ./partials/common/footer %>
    </footer>
  </body>
</html>
